{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/extensions": "off",
    "prettier/prettier": "warn",
    "@typescript-eslint/ban-ts-comment": [1],
    "@typescript-eslint/explicit-module-boundary-types": [0],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "object": false
        },
        "extendDefaults": true
      }
    ],
    "@typescript-eslint/no-empty-function": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}